/**
 * style.module.css
 *
 * @format
 */

/* .footer {
  background-color: #232323;
  padding: 48px 0;
}
.li {
  list-style: none;
  text-align: center;
}

.typo {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.link:hover {
  color: #bbb;
}

.socialLinks {
  margin-top: 16px;
}

.socialLinks > a {
  margin-right: 8px;
}  */

.sidespacing {
  width: 1400px;
  margin: 0 auto;
}

.chat {
  font-family: "Sora", sans-serif;
  width: 90%;
  margin-top: 50px;
  background-color: #fff;
  border-top-right-radius: 69px;
  border-top-left-radius: 69px;
}
.chat div {
  padding-top: 20px;
  width: 80%;
  margin: auto;
}
.chat div hr {
  background-color: #101010;
}
.chat div h1 {
  color: #101010;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  /* margin-bottom: 50px; */
}
.img_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandingdiv {
  height: 60vh;
}
.brandingdiv > img {
  height: 100%;
  width: 100%;
}

/* .chat div h1 img {
  width: 40px;
} */
.flex_box {
  color: black;
  display: flex;
  justify-content: space-between !important;
  padding-top: 30px;
  padding-bottom: 30px;
}
.flex_box div {
  width: auto;
}

.list {
  display: flex;
}
.list li {
  list-style: none;
  color: #232323;
  text-align: center;
  padding: 5px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 120% */
  text-transform: capitalize;
}
.para {
  color: #000;
  text-align: right;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 120% */
  text-transform: capitalize;
}

/* vertical card vhdiv */

.vhdiv {
  display: flex;
  justify-content: center;
  height: 50ch;
}

.responsive_img {
  width: auto;
  height: auto;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.div1 {
  background: url("portfolio_img/cover.png") no-repeat center center/cover;
  border-radius: 5%;
}
.div2 {
  background: url("portfolio_img/2.png") no-repeat center center/cover;
  border-radius: 5%;
}
.vhimg1 {
  background: url("portfolio_img/facewash.JPG") no-repeat center center/cover;
  border-radius: 5%;
}
.vhimg2 {
  background: url("portfolio_img/ds1.jpg") no-repeat center center/cover;
  border-radius: 5%;
}
.vhimg3 {
  background: url("portfolio_img/colgate1.jpg") no-repeat center center/cover;
  border-radius: 5%;
}
.vhimg4 {
  background: url("portfolio_img/ds2.jpg") no-repeat center center/cover;
  border-radius: 5%;
}

@media (max-width: 369px) {
  .socialtype {
    font-size: 25px !important ;
  }
}
@media (max-width: 1400px) {
  .sidespacing {
    width: 100%;
    margin: 0 auto;
  }
}

/* Mobile View */
@media only screen and (max-width: 767px) {
  .chat div {
    width: 90%;
  }
  .flex_box {
    flex-direction: column;
    text-align: center !important;
  }
  .para {
    text-align: center !important;
  }
  .list_box {
    text-align: center !important;
  }

  .list li {
    margin: auto;
  }
}

/* Tablet View */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .list li {
    list-style: none;
    color: #232323;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 120% */
    text-transform: capitalize;
  }
  .para {
    color: #000;
    text-align: right;

    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 120% */
    text-transform: capitalize;
  }
}

/* Desktop View */
@media only screen and (min-width: 1024px) {
  .mobile-view-only {
    display: none !important;
  }
  .tab-view-only {
    display: none !important;
  }
}
