.maincontact{
  padding: 0rem 2rem /*this is for side padding in the contact form*/
}

.contact {
  font-family: "Sora", sans-serif;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.5em;
 
}

.contact hr {
  width: 8%;
  height: 0%;
}
.contact h3 {
  margin: auto 1em;
}

.input {
  font-family: "Montserrat", sans-serif;
  padding: 6px;
  max-width: 30rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.input input {
  border: none;
  border-radius: 0.4rem;
  background-color: #232323;
  padding: 0.6rem;
  margin: 0.5rem;
}

.input .last_input {
  padding: 1rem 0.6rem 4rem;
}

.button {
  align-items: center;
 font-size: 25rem;
}

.button button {
  /* border-radius: 10% !important ;  */
  font-family: "Poppins";
  font-weight: bolder;

  color: #232323;
  margin-top: 1rem;
  width: 30%;
  background-color: #ffffff;
}

@media (max-width: 769px) {
  .contact {
    margin: 0rem auto;
  }
}
