.portfolio_div {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_div hr {
  width: 10%;
  height: 0;
}
.portfolio_div h3 {
  margin: auto 1em;
}

.division {
  font-size: 12px;
  text-align: center;
}

.about_content {
  width: 50%;
  padding: 80px 0;
  text-align: center;
  margin: auto;
}

.about_img {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
